alabaster==0.7.9
awscli==1.11.5
Babel==2.3.4
botocore==1.4.62
click==6.6
colorama==0.3.7
configparser==3.5.0
coverage==4.2
docutils==0.12
enum34==1.1.6
flake8==3.0.4
futures==3.0.5
imagesize==0.7.1
Jinja2==2.8
jmespath==0.9.0
MarkupSafe==0.23
mccabe==0.5.2
pyasn1==0.1.9
pycodestyle==2.0.0
pyenchant==1.6.8
pyflakes==1.2.3
Pygments==2.1.3
python-dateutil==2.5.3
python-dotenv==0.6.0
pytz==2016.7
rsa==3.4.2
s3transfer==0.1.8
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.4.8
scipy==0.15.1
pandas==0.16.2
numpy==1.11.1
scikit-learn==0.16.1
